@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
/*font-family: 'Be Vietnam Pro', sans-serif;*/


body {
    background-color: #17181c;
    color: white;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.pulse, .logo {
    background: none;
    color: #ff760c;
    font-family: 'Be Vietnam Pro', sans-serif;
    border: 2px solid;
    margin: 50px;
    padding: 15px 40px;
    transition: 0.25s;
    border-radius: 15px;
}

.pulse:hover, .pulse:focus {
    color: white;
    border-color: #ef8f6e;
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
    animation: pulsar 1s;
    border: 2px solid;
}

@keyframes pulsar {
    0% {
        box-shadow: 0 0 0 0 #ef8f6e;
        margin: 50px;
        padding: 15px 40px;
        transition: 1s;
        border-radius: 5px;
        
    }
}

